* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    background: #322E41;
}

.nav__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 23px 18px;
    display: block;
    transition: 0.5s;
}

.nav__link:hover {
    background-color: #fff;
    color: #D47300;
}

/* Nav end */
/* Intro start */
.intro {
    background-image: url(../images/header_bg.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.intro__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.intro__text span {
    font-weight: 700;
}

/* Intro end */
/* Catalog start */
.catalog {
    background: #ebebeb;
}

.catalog__box {
    display: flex;
    justify-content: space-between;
    transform: translateY(-30px);
}

.catalog__left {
    background: #FFFFFF;
    border-radius: 6px;
    max-width: 540px;
    width: 100%;
    padding: 15px;
}

.catalog__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #2C2A2A;
    margin-top: 20px;
    margin-bottom: 10px;
}

.catalog__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #9B9B9B;
}

.catalog__right {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.catalog__card {
    width: 255px;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.catalaog__card-img {
    width: 80px;
    height: 80px;
    border: 2px solid #D47300;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog__card-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 16px;
    color: #2C2A2A;
    margin-top: 15px;
    margin-bottom: 10px;
}

.catalog__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #9B9B9B;
}

/* Catalog end */
/* Footer start */
.footer {
    background: #322E41;
    padding: 40px 0;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
}

.footer__input,
.footer__comment {
    border: none;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000;
}

.footer__comment {
    resize: none;
    height: 86px;
}

.footer__btn {
    padding: 9px;
    border: none;
    background: #544294;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}
.footer__info {
    display: flex;
    gap: 50px;

}
.footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}
.footer__link:hover {
    color: #D57300;
}

.footer__media{
    display: flex;
    gap: 40px;
}
.footer__media-link{
    text-decoration: none;
}
/* Footer end */
.nav__menu{
    background-color: unset;
    border: none;
    cursor: pointer;
    display: none;
}
.nav__menu img{
    width: 30px;
}